/* Write your CSS code here */
.img {
  height: 340px;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-1 {
  font-size: 50px;
  color: #00e7ff;
  font-family: 'Roboto';
  font-weight: 700;
  margin: 15px;
  display: flex;
  justify-content: center;
}
.head-1 {
  color: #ffff;
  font-size: 23px;
}
.unorder-List {
  list-style-type: none;
}
